{% extends 'accounts/base.html'%}

{% load static %}
{% block content %}
    <div class="text-white w-full md:w-fit h-sm dark:bg-gray-900 py-8 px-8 rounded-lg space-y-8 flex flex-col justify-center items-center">
        <h1 class="text-5xl font-bold px-8">Sign Up</h1>
    <form method="post" class="sign_up_from space-y-4 py-8 px-8 flex flex-col items-center">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Sign Up
        </button>
    </form>
    </div>

    <style href="{% static 'accounts/css/responsive_sign_up.css'%}">

    </style>
{% endblock %}